@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "tailwindcss";


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #ffffff;
  --text-color: #121212;
  --icon-color: #121212;
}

.dark {
  --bg-color: #121212;
  --text-color: #ffffff;
  --icon-color: #ffffff;
}

@theme {
  --font-inter: "Inter", sans-serif;

  --container-width: 1200px;
}

body {
  font-family: var(--font-inter);
  background-color: var(--bg-color);
  color: var(--text-color);
}




/* utilities */
@layer utilities{

}


/* components */
@layer components {
  
}



/* custom css */